This Notebook is part of stock market price prediction project and is used to extract the timeseries data such as stock price details, stock balance sheet details, and stock financial detials. We are making use of yahoo finanance to get the stock data and after transforming data according to our needs the dataset is finally exported as csv file which will be used in another notebook.

In [ ]:
pip install yfinance
# Import yfinance package
import yfinance as yf
import pandas as pd
from datetime import date
from numpy import exp
import os
from datetime import datetime

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.3 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [ ]:
#Set Ticker  here we are using the stock symbol of Tesla company its registered in NASDAQ as TSLA
ticker = 'TSLA'
stock = yf.Ticker(ticker)
# get stock info
stock.info

In [ ]:
# get historical market data
hist = stock.history(period="max")

In [ ]:

# Set the start and end date
start_date = '2018-01-01'
end_date = today = date.today()

# Get the data
df = stock.history(period ='max', rounding=True, start=start_date, end = end_date)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1157 entries, 2018-01-02 to 2022-08-05
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1157 non-null   float64
 1   High          1157 non-null   float64
 2   Low           1157 non-null   float64
 3   Close         1157 non-null   float64
 4   Volume        1157 non-null   int64
 5   Dividends     1157 non-null   int64
 6   Stock Splits  1157 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 72.3 KB

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2018-01-02  62.40  64.42  62.20  64.11  21761000          0           0.0
2018-01-03  64.20  65.05  63.11  63.45  22607500          0           0.0
2018-01-04  62.57  63.71  61.14  62.92  49731500          0           0.0
2018-01-05  63.32  63.45  62.40  63.32  22956000          0           0.0
2018-01-08  63.20  67.40  63.10  67.28  49297000          0           0.0

In [ ]:
# Print 5 rows
df.tail()

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2022-08-01  903.83  935.63  885.00  891.83  39014300          0           0.0
2022-08-02  882.01  923.50  878.00  901.76  31859200          0           0.0
2022-08-03  915.00  928.65  903.45  922.19  26697000          0           0.0
2022-08-04  933.00  940.82  915.00  925.90  24085400          0           0.0
2022-08-05  908.01  913.82  856.63  864.51  37655300          0           0.0

In [ ]:
#Getting balance sheet details for each year
df_balance_sheet=stock.get_balance_sheet()

#Doing a transpose of the balance sheet data
df_balance_sheet=df_balance_sheet.T
df_balance_sheet.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4 entries, 2021-12-31 to 2018-12-31
Data columns (total 27 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Intangible Assets                             4 non-null      float64
 1   Capital Surplus                               4 non-null      float64
 2   Total Liab                                    4 non-null      float64
 3   Total Stockholder Equity                      4 non-null      float64
 4   Minority Interest                             4 non-null      float64
 5   Other Current Liab                            4 non-null      float64
 6   Total Assets                                  4 non-null      float64
 7   Common Stock                                  3 non-null      float64
 8   Other Current Assets                          4 non-null      float64
 9   Retained Earnings                             4 non-null      float64
 10  Other Liab                                    4 non-null      float64
 11  Good Will                                     4 non-null      float64
 12  Gains Losses Not Affecting Retained Earnings  4 non-null      float64
 13  Other Assets                                  4 non-null      float64
 14  Cash                                          4 non-null      float64
 15  Total Current Liabilities                     4 non-null      float64
 16  Short Long Term Debt                          4 non-null      float64
 17  Other Stockholder Equity                      4 non-null      float64
 18  Property Plant Equipment                      4 non-null      float64
 19  Total Current Assets                          4 non-null      float64
 20  Net Tangible Assets                           4 non-null      float64
 21  Short Term Investments                        1 non-null      float64
 22  Net Receivables                               4 non-null      float64
 23  Long Term Debt                                4 non-null      float64
 24  Inventory                                     4 non-null      float64
 25  Accounts Payable                              4 non-null      float64
 26  Long Term Investments                         2 non-null      float64
dtypes: float64(27)
memory usage: 896.0 bytes

In [ ]:
#Getting the financials
df_financials = stock.get_financials()
#Taking the transpose
df_financials =  df_financials.T
for column in df_financials.columns:
  df_financials[column] = df_financials[column].astype(float, errors = 'raise')
df_financials.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4 entries, 2021-12-31 to 2018-12-31
Data columns (total 22 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Research Development                    4 non-null      float64
 1   Effect Of Accounting Charges            0 non-null      float64
 2   Income Before Tax                       4 non-null      float64
 3   Minority Interest                       4 non-null      float64
 4   Net Income                              4 non-null      float64
 5   Selling General Administrative          4 non-null      float64
 6   Gross Profit                            4 non-null      float64
 7   Ebit                                    4 non-null      float64
 8   Operating Income                        4 non-null      float64
 9   Other Operating Expenses                4 non-null      float64
 10  Interest Expense                        4 non-null      float64
 11  Extraordinary Items                     0 non-null      float64
 12  Non Recurring                           0 non-null      float64
 13  Other Items                             0 non-null      float64
 14  Income Tax Expense                      4 non-null      float64
 15  Total Revenue                           4 non-null      float64
 16  Total Operating Expenses                4 non-null      float64
 17  Cost Of Revenue                         4 non-null      float64
 18  Total Other Income Expense Net          4 non-null      float64
 19  Discontinued Operations                 0 non-null      float64
 20  Net Income From Continuing Ops          4 non-null      float64
 21  Net Income Applicable To Common Shares  4 non-null      float64
dtypes: float64(22)
memory usage: 736.0 bytes

In [ ]:

df_balance_sheet.iloc[:].head()

,Intangible Assets,Capital Surplus,Total Liab,Total Stockholder Equity,Minority Interest,Other Current Liab,Total Assets,Common Stock,Other Current Assets,Retained Earnings,...,Other Stockholder Equity,Property Plant Equipment,Total Current Assets,Net Tangible Assets,Short Term Investments,Net Receivables,Long Term Debt,Inventory,Accounts Payable,Long Term Investments
,,,,,,,,,,,,,,,,,,,,,
2021-12-31,257000000.0,2.980300e+10,3.054800e+10,3.018900e+10,1.394000e+09,4.756000e+09,6.213100e+10,1000000.0,345000000.0,3.310000e+08,...,54000000.0,3.117600e+10,2.710000e+10,2.973200e+10,131000000.0,1.986000e+09,4.285000e+09,5.757000e+09,1.002500e+10,NaN
2020-12-31,313000000.0,2.726000e+10,2.846900e+10,2.222500e+10,1.454000e+09,4.147000e+09,5.214800e+10,1000000.0,238000000.0,-5.399000e+09,...,363000000.0,2.337500e+10,2.671700e+10,2.170500e+10,NaN,1.903000e+09,8.571000e+09,4.101000e+09,6.051000e+09,NaN
2019-12-31,339000000.0,1.273600e+10,2.619900e+10,6.618000e+09,1.492000e+09,3.693000e+09,3.430900e+10,1000000.0,246000000.0,-6.083000e+09,...,-36000000.0,2.019900e+10,1.210300e+10,6.081000e+09,NaN,1.324000e+09,1.037500e+10,3.552000e+09,3.771000e+09,1000000.0
2018-12-31,282000000.0,1.024900e+10,2.342700e+10,4.923000e+09,1.390000e+09,2.955000e+09,2.974000e+10,NaN,193000000.0,-5.318000e+09,...,-8000000.0,1.969100e+10,8.307000e+09,4.573000e+09,NaN,9.490000e+08,8.461000e+09,3.113000e+09,3.405000e+09,12000000.0

In [ ]:
# Merging both financial and balance sheet data to create a single dataset
df_fundemental = df_financials.join(df_balance_sheet.iloc[:], rsuffix='_duplicate')
df_fundemental.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4 entries, 2021-12-31 to 2018-12-31
Data columns (total 49 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Research Development                          4 non-null      float64
 1   Effect Of Accounting Charges                  0 non-null      float64
 2   Income Before Tax                             4 non-null      float64
 3   Minority Interest                             4 non-null      float64
 4   Net Income                                    4 non-null      float64
 5   Selling General Administrative                4 non-null      float64
 6   Gross Profit                                  4 non-null      float64
 7   Ebit                                          4 non-null      float64
 8   Operating Income                              4 non-null      float64
 9   Other Operating Expenses                      4 non-null      float64
 10  Interest Expense                              4 non-null      float64
 11  Extraordinary Items                           0 non-null      float64
 12  Non Recurring                                 0 non-null      float64
 13  Other Items                                   0 non-null      float64
 14  Income Tax Expense                            4 non-null      float64
 15  Total Revenue                                 4 non-null      float64
 16  Total Operating Expenses                      4 non-null      float64
 17  Cost Of Revenue                               4 non-null      float64
 18  Total Other Income Expense Net                4 non-null      float64
 19  Discontinued Operations                       0 non-null      float64
 20  Net Income From Continuing Ops                4 non-null      float64
 21  Net Income Applicable To Common Shares        4 non-null      float64
 22  Intangible Assets                             4 non-null      float64
 23  Capital Surplus                               4 non-null      float64
 24  Total Liab                                    4 non-null      float64
 25  Total Stockholder Equity                      4 non-null      float64
 26  Minority Interest_duplicate                   4 non-null      float64
 27  Other Current Liab                            4 non-null      float64
 28  Total Assets                                  4 non-null      float64
 29  Common Stock                                  3 non-null      float64
 30  Other Current Assets                          4 non-null      float64
 31  Retained Earnings                             4 non-null      float64
 32  Other Liab                                    4 non-null      float64
 33  Good Will                                     4 non-null      float64
 34  Gains Losses Not Affecting Retained Earnings  4 non-null      float64
 35  Other Assets                                  4 non-null      float64
 36  Cash                                          4 non-null      float64
 37  Total Current Liabilities                     4 non-null      float64
 38  Short Long Term Debt                          4 non-null      float64
 39  Other Stockholder Equity                      4 non-null      float64
 40  Property Plant Equipment                      4 non-null      float64
 41  Total Current Assets                          4 non-null      float64
 42  Net Tangible Assets                           4 non-null      float64
 43  Short Term Investments                        1 non-null      float64
 44  Net Receivables                               4 non-null      float64
 45  Long Term Debt                                4 non-null      float64
 46  Inventory                                     4 non-null      float64
 47  Accounts Payable                              4 non-null      float64
 48  Long Term Investments                         2 non-null      float64
dtypes: float64(49)
memory usage: 1.7 KB

In [ ]:
df_fundemental.head()

,Research Development,Effect Of Accounting Charges,Income Before Tax,Minority Interest,Net Income,Selling General Administrative,Gross Profit,Ebit,Operating Income,Other Operating Expenses,...,Other Stockholder Equity,Property Plant Equipment,Total Current Assets,Net Tangible Assets,Short Term Investments,Net Receivables,Long Term Debt,Inventory,Accounts Payable,Long Term Investments
,,,,,,,,,,,,,,,,,,,,,
2021-12-31,2.593000e+09,NaN,6.343000e+09,1.394000e+09,5.519000e+09,4.517000e+09,1.360600e+10,6.523000e+09,6.523000e+09,-27000000.0,...,54000000.0,3.117600e+10,2.710000e+10,2.973200e+10,131000000.0,1.986000e+09,4.285000e+09,5.757000e+09,1.002500e+10,NaN
2020-12-31,1.491000e+09,NaN,1.154000e+09,1.454000e+09,7.210000e+08,3.188000e+09,6.630000e+09,1.951000e+09,1.951000e+09,-27000000.0,...,363000000.0,2.337500e+10,2.671700e+10,2.170500e+10,NaN,1.903000e+09,8.571000e+09,4.101000e+09,6.051000e+09,NaN
2019-12-31,1.343000e+09,NaN,-6.650000e+08,1.492000e+09,-8.620000e+08,2.646000e+09,4.069000e+09,8.000000e+07,8.000000e+07,-27000000.0,...,-36000000.0,2.019900e+10,1.210300e+10,6.081000e+09,NaN,1.324000e+09,1.037500e+10,3.552000e+09,3.771000e+09,1000000.0
2018-12-31,1.460000e+09,NaN,-1.005000e+09,1.390000e+09,-9.760000e+08,2.835000e+09,4.042000e+09,-2.530000e+08,-2.530000e+08,-27000000.0,...,-8000000.0,1.969100e+10,8.307000e+09,4.573000e+09,NaN,9.490000e+08,8.461000e+09,3.113000e+09,3.405000e+09,12000000.0

In [ ]:
df_fundemental.isnull().sum()

Research Development                            0
Effect Of Accounting Charges                    4
Income Before Tax                               0
Minority Interest                               0
Net Income                                      0
Selling General Administrative                  0
Gross Profit                                    0
Ebit                                            0
Operating Income                                0
Other Operating Expenses                        0
Interest Expense                                0
Extraordinary Items                             4
Non Recurring                                   4
Other Items                                     4
Income Tax Expense                              0
Total Revenue                                   0
Total Operating Expenses                        0
Cost Of Revenue                                 0
Total Other Income Expense Net                  0
Discontinued Operations                         4
Net Income From Continuing Ops                  0
Net Income Applicable To Common Shares          0
Intangible Assets                               0
Capital Surplus                                 0
Total Liab                                      0
Total Stockholder Equity                        0
Minority Interest_duplicate                     0
Other Current Liab                              0
Total Assets                                    0
Common Stock                                    1
Other Current Assets                            0
Retained Earnings                               0
Other Liab                                      0
Good Will                                       0
Gains Losses Not Affecting Retained Earnings    0
Other Assets                                    0
Cash                                            0
Total Current Liabilities                       0
Short Long Term Debt                            0
Other Stockholder Equity                        0
Property Plant Equipment                        0
Total Current Assets                            0
Net Tangible Assets                             0
Short Term Investments                          3
Net Receivables                                 0
Long Term Debt                                  0
Inventory                                       0
Accounts Payable                                0
Long Term Investments                           2
dtype: int64

In [ ]:
#filling the null columns with 0 as the number of null columns are comparitively less
df_fundemental = df_fundemental.dropna(how='all', axis='columns')
df_fundemental.isnull().sum()
df_fundemental.fillna(0)

,Research Development,Income Before Tax,Minority Interest,Net Income,Selling General Administrative,Gross Profit,Ebit,Operating Income,Other Operating Expenses,Interest Expense,...,Other Stockholder Equity,Property Plant Equipment,Total Current Assets,Net Tangible Assets,Short Term Investments,Net Receivables,Long Term Debt,Inventory,Accounts Payable,Long Term Investments
,,,,,,,,,,,,,,,,,,,,,
2021-12-31,2.593000e+09,6.343000e+09,1.394000e+09,5.519000e+09,4.517000e+09,1.360600e+10,6.523000e+09,6.523000e+09,-27000000.0,-358000000.0,...,54000000.0,3.117600e+10,2.710000e+10,2.973200e+10,131000000.0,1.986000e+09,4.285000e+09,5.757000e+09,1.002500e+10,0.0
2020-12-31,1.491000e+09,1.154000e+09,1.454000e+09,7.210000e+08,3.188000e+09,6.630000e+09,1.951000e+09,1.951000e+09,-27000000.0,-784000000.0,...,363000000.0,2.337500e+10,2.671700e+10,2.170500e+10,0.0,1.903000e+09,8.571000e+09,4.101000e+09,6.051000e+09,0.0
2019-12-31,1.343000e+09,-6.650000e+08,1.492000e+09,-8.620000e+08,2.646000e+09,4.069000e+09,8.000000e+07,8.000000e+07,-27000000.0,-725000000.0,...,-36000000.0,2.019900e+10,1.210300e+10,6.081000e+09,0.0,1.324000e+09,1.037500e+10,3.552000e+09,3.771000e+09,1000000.0
2018-12-31,1.460000e+09,-1.005000e+09,1.390000e+09,-9.760000e+08,2.835000e+09,4.042000e+09,-2.530000e+08,-2.530000e+08,-27000000.0,-653000000.0,...,-8000000.0,1.969100e+10,8.307000e+09,4.573000e+09,0.0,9.490000e+08,8.461000e+09,3.113000e+09,3.405000e+09,12000000.0

In [ ]:
df_fundemental.head()

,Research Development,Income Before Tax,Minority Interest,Net Income,Selling General Administrative,Gross Profit,Ebit,Operating Income,Other Operating Expenses,Interest Expense,...,Other Stockholder Equity,Property Plant Equipment,Total Current Assets,Net Tangible Assets,Short Term Investments,Net Receivables,Long Term Debt,Inventory,Accounts Payable,Long Term Investments
,,,,,,,,,,,,,,,,,,,,,
2021-12-31,2.593000e+09,6.343000e+09,1.394000e+09,5.519000e+09,4.517000e+09,1.360600e+10,6.523000e+09,6.523000e+09,-27000000.0,-358000000.0,...,54000000.0,3.117600e+10,2.710000e+10,2.973200e+10,131000000.0,1.986000e+09,4.285000e+09,5.757000e+09,1.002500e+10,NaN
2020-12-31,1.491000e+09,1.154000e+09,1.454000e+09,7.210000e+08,3.188000e+09,6.630000e+09,1.951000e+09,1.951000e+09,-27000000.0,-784000000.0,...,363000000.0,2.337500e+10,2.671700e+10,2.170500e+10,NaN,1.903000e+09,8.571000e+09,4.101000e+09,6.051000e+09,NaN
2019-12-31,1.343000e+09,-6.650000e+08,1.492000e+09,-8.620000e+08,2.646000e+09,4.069000e+09,8.000000e+07,8.000000e+07,-27000000.0,-725000000.0,...,-36000000.0,2.019900e+10,1.210300e+10,6.081000e+09,NaN,1.324000e+09,1.037500e+10,3.552000e+09,3.771000e+09,1000000.0
2018-12-31,1.460000e+09,-1.005000e+09,1.390000e+09,-9.760000e+08,2.835000e+09,4.042000e+09,-2.530000e+08,-2.530000e+08,-27000000.0,-653000000.0,...,-8000000.0,1.969100e+10,8.307000e+09,4.573000e+09,NaN,9.490000e+08,8.461000e+09,3.113000e+09,3.405000e+09,12000000.0

In [ ]:
column_list = df_fundemental.columns
column_list

Index(['Research Development', 'Income Before Tax', 'Minority Interest',
       'Net Income', 'Selling General Administrative', 'Gross Profit', 'Ebit',
       'Operating Income', 'Other Operating Expenses', 'Interest Expense',
       'Income Tax Expense', 'Total Revenue', 'Total Operating Expenses',
       'Cost Of Revenue', 'Total Other Income Expense Net',
       'Net Income From Continuing Ops',
       'Net Income Applicable To Common Shares', 'Intangible Assets',
       'Capital Surplus', 'Total Liab', 'Total Stockholder Equity',
       'Minority Interest_duplicate', 'Other Current Liab', 'Total Assets',
       'Common Stock', 'Other Current Assets', 'Retained Earnings',
       'Other Liab', 'Good Will',
       'Gains Losses Not Affecting Retained Earnings', 'Other Assets', 'Cash',
       'Total Current Liabilities', 'Short Long Term Debt',
       'Other Stockholder Equity', 'Property Plant Equipment',
       'Total Current Assets', 'Net Tangible Assets', 'Short Term Investments',
       'Net Receivables', 'Long Term Debt', 'Inventory', 'Accounts Payable',
       'Long Term Investments'],
      dtype='object')

In [ ]:
#Combining the time series numerical data and the financials
def combineHistoricalAndFundemental(row):
  date_extracted = datetime.datetime.strptime(str(row.name), "%Y-%m-%d %H:%M:%S")
  year=date_extracted.year
  if year == 2022:
    year = 2021
  for column in column_list:
      row[column] = df_fundemental.loc[str(year)+'-12-31'][column][0]
  return row
df=df.apply(combineHistoricalAndFundemental, axis=1)

In [ ]:
# Labelling the target column comparing the close and open price values
def labelDataset(row):
  if row.Close-row.Open > 0:
    target='UP'
  else:
    target='DOWN'
  row['Target'] = target
  return row
df=df.apply(labelDataset, axis=1)

In [ ]:
df.reset_index(inplace=True)
df.info()
df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1157 entries, 0 to 1156
Data columns (total 53 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Date                                          1157 non-null   datetime64[ns]
 1   Open                                          1157 non-null   float64
 2   High                                          1157 non-null   float64
 3   Low                                           1157 non-null   float64
 4   Close                                         1157 non-null   float64
 5   Volume                                        1157 non-null   float64
 6   Dividends                                     1157 non-null   float64
 7   Stock Splits                                  1157 non-null   float64
 8   Research Development                          1157 non-null   float64
 9   Income Before Tax                             1157 non-null   float64
 10  Minority Interest                             1157 non-null   float64
 11  Net Income                                    1157 non-null   float64
 12  Selling General Administrative                1157 non-null   float64
 13  Gross Profit                                  1157 non-null   float64
 14  Ebit                                          1157 non-null   float64
 15  Operating Income                              1157 non-null   float64
 16  Other Operating Expenses                      1157 non-null   float64
 17  Interest Expense                              1157 non-null   float64
 18  Income Tax Expense                            1157 non-null   float64
 19  Total Revenue                                 1157 non-null   float64
 20  Total Operating Expenses                      1157 non-null   float64
 21  Cost Of Revenue                               1157 non-null   float64
 22  Total Other Income Expense Net                1157 non-null   float64
 23  Net Income From Continuing Ops                1157 non-null   float64
 24  Net Income Applicable To Common Shares        1157 non-null   float64
 25  Intangible Assets                             1157 non-null   float64
 26  Capital Surplus                               1157 non-null   float64
 27  Total Liab                                    1157 non-null   float64
 28  Total Stockholder Equity                      1157 non-null   float64
 29  Minority Interest_duplicate                   1157 non-null   float64
 30  Other Current Liab                            1157 non-null   float64
 31  Total Assets                                  1157 non-null   float64
 32  Common Stock                                  906 non-null    float64
 33  Other Current Assets                          1157 non-null   float64
 34  Retained Earnings                             1157 non-null   float64
 35  Other Liab                                    1157 non-null   float64
 36  Good Will                                     1157 non-null   float64
 37  Gains Losses Not Affecting Retained Earnings  1157 non-null   float64
 38  Other Assets                                  1157 non-null   float64
 39  Cash                                          1157 non-null   float64
 40  Total Current Liabilities                     1157 non-null   float64
 41  Short Long Term Debt                          1157 non-null   float64
 42  Other Stockholder Equity                      1157 non-null   float64
 43  Property Plant Equipment                      1157 non-null   float64
 44  Total Current Assets                          1157 non-null   float64
 45  Net Tangible Assets                           1157 non-null   float64
 46  Short Term Investments                        401 non-null    float64
 47  Net Receivables                               1157 non-null   float64
 48  Long Term Debt                                1157 non-null   float64
 49  Inventory                                     1157 non-null   float64
 50  Accounts Payable                              1157 non-null   float64
 51  Long Term Investments                         503 non-null    float64
 52  Target                                        1157 non-null   object
dtypes: datetime64[ns](1), float64(51), object(1)
memory usage: 479.2+ KB

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Research Development,Income Before Tax,...,Property Plant Equipment,Total Current Assets,Net Tangible Assets,Short Term Investments,Net Receivables,Long Term Debt,Inventory,Accounts Payable,Long Term Investments,Target
1152,2022-08-01,903.83,935.63,885.00,891.83,39014300.0,0.0,0.0,2.593000e+09,6.343000e+09,...,3.117600e+10,2.710000e+10,2.973200e+10,131000000.0,1.986000e+09,4.285000e+09,5.757000e+09,1.002500e+10,NaN,DOWN
1153,2022-08-02,882.01,923.50,878.00,901.76,31859200.0,0.0,0.0,2.593000e+09,6.343000e+09,...,3.117600e+10,2.710000e+10,2.973200e+10,131000000.0,1.986000e+09,4.285000e+09,5.757000e+09,1.002500e+10,NaN,UP
1154,2022-08-03,915.00,928.65,903.45,922.19,26697000.0,0.0,0.0,2.593000e+09,6.343000e+09,...,3.117600e+10,2.710000e+10,2.973200e+10,131000000.0,1.986000e+09,4.285000e+09,5.757000e+09,1.002500e+10,NaN,UP
1155,2022-08-04,933.00,940.82,915.00,925.90,24085400.0,0.0,0.0,2.593000e+09,6.343000e+09,...,3.117600e+10,2.710000e+10,2.973200e+10,131000000.0,1.986000e+09,4.285000e+09,5.757000e+09,1.002500e+10,NaN,DOWN
1156,2022-08-05,908.01,913.82,856.63,864.51,37655300.0,0.0,0.0,2.593000e+09,6.343000e+09,...,3.117600e+10,2.710000e+10,2.973200e+10,131000000.0,1.986000e+09,4.285000e+09,5.757000e+09,1.002500e+10,NaN,DOWN

In [ ]:
#Exporting the dataset
to_csv_timestamp = datetime.today().strftime('%Y%m%d_%H%M%S')
path = os.getcwd()
filename = 'StockMarketDataTesla.csv'
df.to_csv(filename, index = False)